{
 "cells": [
  {
   "cell_type": "markdown",
   "id": "a5451731-cd7b-47ca-9ea5-73cf82268de8",
   "metadata": {},
   "source": [
    "# Example notebook with analysis for \"[[study_title]]\" study"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "f1441a1c",
   "metadata": {},
   "outputs": [],
   "source": [
    "# pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,\n",
    "# built on top of the Python programming language.\n",
    "# https://pandas.pydata.org/\n",
    "import pandas as pd\n",
    "pd.read_json('data/subjects.json')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "f699f834",
   "metadata": {},
   "outputs": [],
   "source": [
    "# Matplotlib is a comprehensive library for creating static, animated, and interactive visualizations in Python.\n",
    "# https://matplotlib.org/\n",
    "import matplotlib\n",
    "import pandas as pd\n",
    "%matplotlib inline\n",
    "download_url = \"https://raw.githubusercontent.com/fivethirtyeight/data/master/college-majors/recent-grads.csv\"\n",
    "df = pd.read_csv(download_url)\n",
    "df.plot(x=\"Rank\", y=[\"P25th\", \"Median\", \"P75th\"])"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "0a632d6b",
   "metadata": {},
   "outputs": [],
   "source": [
    "# ipywidgets, also known as jupyter-widgets or simply widgets, are interactive HTML widgets for Jupyter notebooks and the IPython kernel.\n",
    "# https://ipywidgets.readthedocs.io/en/latest/\n",
    "import ipywidgets as widgets\n",
    "from IPython.display import display\n",
    "w = widgets.IntSlider()\n",
    "display(w)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "f1c58dee",
   "metadata": {},
   "outputs": [],
   "source": [
    "# Altair is a declarative statistical visualization library for Python, based on Vega and Vega-Lite.\n",
    "# https://altair-viz.github.io/\n",
    "import altair as alt\n",
    "\n",
    "# load a simple dataset as a pandas DataFrame\n",
    "from vega_datasets import data\n",
    "cars = data.cars()\n",
    "\n",
    "alt.Chart(cars).mark_point().encode(\n",
    "    x='Horsepower',\n",
    "    y='Miles_per_Gallon',\n",
    "    color='Origin',\n",
    ")"
   ]
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.8.5"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}
