# {{study_title}}

[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/git/{{git_url}}/HEAD?urlpath=lab)

This is the GIT repository for the "{{study_title}}" study generated using StudyU.

Click on the Binder badge to launch a Jupyter Lab instance exploring the example notebooks (might take up to 10 minutes on the first launch or when something changes).